<h1>Naruto Shippuden Characters</h1>

<h3>Naruto</h3>
    <p>Naruto Uzumaki is a shinobi of Konohagakure. He became the jinchūriki
    of the Nine-Tails on the day of his birth — a fate that caused him to
    be ostracised by most of Konoha throughout his childhood. After joining
    Team Kakashi, Naruto worked hard to gain the village's acknowledgement
    all the while chasing his dream to become Hokage.</p>

<h3>Sakura</h3>
    <p>Sakura Uchiha is a kunoichi of Konohagakure. When she is assigned to
    Team 7, Sakura quickly finds herself ill-prepared for the duties of a ninja
    and the complications of her team-mates' lives. By training under her master,
    Tsunade, she becomes a strong kunoichi and an excellent medical-nin, capable
    of facing the challenges of life as a ninja, as well as helping her friends
    and loved ones when they need her. </p>

<h3>Sasuke</h3>
    <p>Sasuke Uchiha is one of the last surviving members of Konohagakure's
    Uchiha clan. After his older brother, Itachi, slaughtered their clan, Sasuke
    made it his mission in life to avenge them. He is added to Team 7 upon becoming
    a ninja and, through competition with his rival and best friend, Naruto Uzumaki,
    Sasuke starts developing his skills. Dissatisfied with his progress, causing him
    to defect from Konoha so that he can acquire the strength needed to have his revenge.</p>
